.Mobiel{
	margin : 20px auto 0 auto;
}

.Mobiel .Header{
	float : left;
	height : 130px;
	margin-bottom: 10px;
}

.Mobiel .Menu{
	float : left;
	background-color: #C0C0C0;
	margin-bottom: 10px;
}

.Mobiel .Menu ul {
	list-style-type: none;
}

.Mobiel .Menu ul li {
	padding: 15px;
	border: 0px solid #4A4A4A;
	margin-left: -40px;
}

.Mobiel .Menu ul li a{ 
    color: #2E2E2E;
	text-decoration: none;
	margin:auto; 
	text-align:center; 
	display:block;
	
}

.Mobiel .Menu ul li a:active { 
    color: #2E2E2E;
	text-decoration: none;
}

.Mobiel .Content{
	float : left;
	background-color: #DEDEDE;
	margin-top: 10px;
}

.Mobiel .Footer{
	height : 85px;
	background-color: #C0C0C0;
	text-align:center;
	word-break: break-all;
	position:absolute;
	bottom:0;
}
.Mobiel .Footer a{ 
    color: #E34D2C;
	text-decoration: none;
}

.Mobiel .Footer a:active { 
    color: #E34D2C;
	text-decoration: none;
}

.Mobiel .Rounded{
	border: 1px solid #000000;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}

.Mobiel .RoundedTop{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

.Mobiel .RoundedBottom{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}

.Mobiel .MenuButton {
    width: 3em;
    height: 3em;
    position: relative;
    z-index: 0;
	background: #1AB9CE;
	margin: 0 auto;
}

.Mobiel .MenuButton .line1::before {
    content:'';
    left: 0.5em;
    top: 0.5em;
    position: absolute;
    width: 1em;
    transform-origin: left bottom;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.Mobiel .MenuButton .line1::after {
    content:'';
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    transform-origin: right bottom;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.Mobiel .MenuButton .line2 {
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    height: 0.3em;
    background: #2E313C;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}

.Mobiel .MenuButton .line3::before {
    content:'';
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    transform-origin: left top;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}
.Mobiel .MenuButton .line3::after {
    content:'';
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 1em;
    transform-origin: right top;
    height: 0.3em;
    background: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}

.Mobiel .MenuButton.open .line1:before {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: left bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.Mobiel .MenuButton.open .line1:after {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.Mobiel .MenuButton.open .line2 {
    width: 0.3em;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s 0.3s, width 0.3s;
}

.Mobiel .MenuButton.open .line3:before {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: left top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

.Mobiel .MenuButton.open .line3:after {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: right top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
