.Mobiel{
	margin : 20px auto 0 auto;
}

.Mobiel .Header{
	float : left;
	height : 130px;
	margin-bottom: 10px;
}

.Mobiel .Menu{
	float : left;
	background-color: #C0C0C0;
	margin-bottom: 10px;
}

.Mobiel .Menu ul {
	list-style-type: none;
}

.Mobiel .Menu ul li {
	padding: 15px;
	border: 0px solid #4A4A4A;
	margin-left: -40px;
}

.Mobiel .Menu ul li a{ 
    color: #2E2E2E;
	text-decoration: none;
	margin:auto; 
	text-align:center; 
	display:block;
	
}

.Mobiel .Menu ul li a:active { 
    color: #2E2E2E;
	text-decoration: none;
}

.Mobiel .Content{
	float : left;
	background-color: #DEDEDE;
	margin-top: 10px;
}

.Mobiel .Footer{
	height : 85px;
	background-color: #C0C0C0;
	text-align:center;
	word-break: break-all;
	position:absolute;
	bottom:0;
}
.Mobiel .Footer a{ 
    color: #E34D2C;
	text-decoration: none;
}

.Mobiel .Footer a:active { 
    color: #E34D2C;
	text-decoration: none;
}

.Mobiel .Rounded{
	border: 1px solid #000000;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}

.Mobiel .RoundedTop{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

.Mobiel .RoundedBottom{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}


