.SocialMedia {
	display: block;
}

.Pagina .SocialMedia {
	position: absolute;	
}
	
.Mobiel .SocialMedia {
	position: relative;	
}

.SocialMedia .sub{
	display: inline;
	margin: 2px;
	background: $Media_Background;
	padding: 6px 6px 5px 6px;
}

.SocialMedia .tweet{
	position: relative;
	top: 5px;
	display: inline;
}