.Pagina{
	display : block;
	width : 960px;
	overflow : auto;
	margin : 20px auto 0 auto;
}

.Header{
	float : left;
	clear : none;
	height : 130px;
	width : 940px;
	margin-bottom: 10px;
}

.Menu{
	float : left;
	clear : none;
	height : 50px;
	width : 940px;
	background-color: #FDDE11;
	margin-bottom: 10px;
}

.Menu ul {
	list-style-type: none;
}

.Menu ul li {
	display: inline;
	margin: 0;
	padding: 15px;
}

.Menu ul li a {
}

.Menu ul li a:hover {
	background-color: #ffffff;
}

.Content{
	float : left;
	clear : none;
	height : 600px;
	width : 710px;
	background-color: #FC7300;
	margin-left: 10px;
}

.Footer{
	float : left;
	clear : none;
	height : 50px;
	width : 940px;
	background-color: #FDDE11;
	margin-top: 10px;
	margin-bottom: 5px;
}
