.Pagina{
	display : block;
	width : 960px;
	overflow : auto;
	margin : 20px auto 0 auto;
}

.Header{
	float : left;
	clear : none;
	height : 130px;
	width : 940px;
	margin-bottom: 10px;
}

.Menu{
	float : left;
	clear : none;
	height : 50px;
	width : 940px;
	background-color: #C0C0C0;
	margin-bottom: 10px;
}

.Menu ul {
	list-style-type: none;
}

.Menu ul li {
	display: inline;
	margin: 0;
	padding: 15px;
	border: 0px solid #c0c0c0;
}

.Menu ul li a{ 
    color: black;
	text-decoration: none;
}

.Menu ul li a:active { 
    color: black;
	text-decoration: none;
}

.Content{
	float : left;
	clear : none;
	height : 600px;
	width : 710px;
	background-color: #DEDEDE;
	margin-left: 10px;
}

.Footer{
	float : left;
	clear : none;
	height : 50px;
	width : 940px;
	background-color: #C0C0C0;
	margin-top: 10px;
	margin-bottom: 5px;
}

.Rounded{
	border-radius: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
