#FancyUrl Stuff
Options +FollowSymLinks
RewriteEngine On

#PageHandler
RewriteRule (Page/)(.{0,})(.+) index.php?page=$2
RewriteRule (page/)(.{0,})(.+) index.php?page=$2
RewriteRule (Pages/)(.{0,})(.+) index.php?page=$2
RewriteRule (pages/)(.{0,})(.+) index.php?page=$2

#Users cant open dir Classes
RewriteRule (Classes)(.{0,}) index.php?404=$2
#Users cant open dir ViewCounter
RewriteRule (Design)(.{0,}) index.php?404=$2
#Users cant open dir Disign
RewriteRule (ViewCounter)(.{0,}) index.php?404=$2
#404 to index
ErrorDocument 404 /GIT/PHP-Template/index.php?404=Not_Found

#Pictures are not in pictures
RewriteRule (Pictures)(.{0,}) Content/Pictures$2

#cant open htaccess files
<files .htaccess>
order allow,deny
deny from all
</files>